# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Logs
*.log

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Build / distribution
build/
dist/
*.egg-info/

# Env variables (API keys etc.)
.env

venv/
